-
	const count = [
		{value:'126,300', discr:'Identity Theft Cases Reported in Australia'},
		{value:'$20.1bn', discr:'Online Transactions per annum by Australians'},
		{value:'45,511', discr:'Online Fraud Cases Reported in Australia'}
	]
-
	const cards = [
		{src:'img/card1.png', alt:'card1', title:'Device Authentication', discr:'Hardware-based device fingerprinting resilient to cloning, malware and device jailbreak/root. Hardware-level control over the displayed UI independent of the device operating system. Hardware-level data protection.'},
		{src:'img/card2.png', alt:'card2', title:'User Authentication', discr:'Verify the identity of users for access control with contemporary biometric connected MFA security tokens.'
		},
		{src:'img/card3.png', alt:'card3', title:'Transaction Authentication', discr:'High assurance out-of-band authentication of high impact transactions and instructions initiated through electronic service delivery channels. Audit trail of verification for non-repudiation. Fraud protection against man-in-the-middle and browser malware.'
		},
		{src:'img/card4.png', alt:'card4', title:'Contemporary <br/> authentication methods', discr:'Echidna authentication server to enable adaptive risk-based approach to security through a range of methods for different levels of authentication assurance from SMS OTPs, Challenge/Response, to more contemporary QR code signing and advanced connected mobile security tokens capable of transaction signatures with dynamic linking of the transaction context and addition of PIN, Fingerprint and other biometrics.'
		},
		{src:'img/card5.png', alt:'card5', title:'HSM Solutions', discr:'Reseller of Thales nShield HSMs with professional services and subject matter expertise in HSMs, key ceremony procedures, and SEE code development.'
		},
		{src:'img/card6.png', alt:'card6', title:'Cloud & IoT Security', discr:'Secure the identity and access of users, devices and Internet of Things connecting into the cloud. Support cloud adoption and migration of applications and data into private and public clouds.'
		}
	]
.main
	.layout-position
		.counters
			each item in count
				.counters__item
					span.counters__value|#{item.value}
					p.counters__discr !{item.discr}
	section.our-work#our-work
		.layout-position
			h2.our-work__title What We Do
			.our-work-cards
				each item in cards
					._item
						._img
							img(src=`${item.src}`, alt=`${item.alt}`)
						h4._title| !{item.title}
						p._discr| #{item.discr}
	section.spotlight
		.spotlight__inner
			.spotlight__text-content
				h3.spotlight__title Product Spotlight
				p.spotlight__discr|Salt mSign Connected Token is a contemporary mobile security 2FA token for authentication of user identity and verification of transactions independent of the delivery channel that initiated the request.
				+link-btn('link-btn--dark spotlight__link', 'javascrip:void(0)', 'More info')
			.spotlight__video-content
				.spotlight__video-overlay
				a.play-video(data-fancybox href="https://www.vimeo.com/107426942" data-width="800" data-height="450") <span>play</span>
				p.spotlight__video-discr|<span>Feature video</span> <br>mSign connected token
	section.contacts
		.contacts__overlay
		.layout-position.contacts__wrap
			h4.contacts__title Ready to get started?
			+link-btn('contacts__btn', 'javascrip:void(0)', 'Contact us')

